<div class="page-header">
  <h3>Welcome to AWM Flies</h3>
</div>

<div class="leftalign"">
<img src="<%= Photo.second.source %>" width="1400">
</div>

<div style="text-align:center">
  <div class="col-md-6 col-md-offset-3 mb-4">
  <h4>
    At AWM Flies, we work hard everyday to ensure you have the most comfortable experience possible, from searching for your next trip destination to arriving on Day 1. We're happy to work with you, so feel free to reach out if you have any questions, and thanks for checking us out! </h4>
    <p><h4>~ AWM, Founder</h4></p>
  </div>
</div>
